<div id="login-background">
  <div class="login-form-container">
    <%= form_for @post do |form| %>
      <%= form.text_area :message, class: "form-field", id: "namebox", placeholder: "What's on your mind?" %>
      <br>
        <%= form.submit "Submit", class: "button3" %>
    <% end %>

  </div>
</div>